---
import licenseData from '../../data/license-data.json';

import { packageTitle } from '../../config.mts';

const packagesCounter = Object.keys(licenseData).length;
const rawEntries = Object.entries(licenseData);
const licenseEntries = rawEntries.filter(
  ([pkgName]) => pkgName.split('@').slice(0, -1).join('@') !== packageTitle
);
---

<section>
  <h2>ライセンス一覧</h2>
  <p>{packagesCounter}個のライセンスを表示中</p>
  <ul>
    {
      licenseEntries.map(([pkgName, pkgInfo]) => (
        <li>
          <a href=`/license/${pkgName.replace(/\//g, '-')}` >
            <h3>{pkgName}</h3>
            <span>{pkgInfo.licenses} License</span>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style lang='scss'>
  section {
    overflow-x: hidden;
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 15px;
      text-align: center;
    }
    ul {
      li {
        a {
          text-decoration: none;
          h3 {
            font-size: 16px;
            margin-bottom: 0;
            filter: brightness(120%);
          }
          h3, span{
            font-family: var(--font-fira-code), var(--font-zen-kaku-gothic-new), monospace;
          }
          span {
            font-size: 15px;
            filter: brightness(120%);
          }
          &:hover {
            h3 {
              text-decoration: underline;
              filter: brightness(100%);
            }
          }
        }
      }
    }
  }
</style>