---
import licenseData from '../../data/license-data.json';
import { packageTitle } from '../../config.mts';

const rawEntries = Object.entries(licenseData);

// licenseEntries は [['pkgName', { pkgInfo }], ...] という形式
const licenseEntries = rawEntries.filter(
    ([pkgName]) => pkgName.split('@').slice(0, -1).join('@') !== packageTitle
);

const licenseEntriesJson = JSON.stringify(licenseEntries);
---

<section>
  <h2>ライセンス一覧</h2>

  <div
    data-license-entries={licenseEntriesJson}
    class="alpinejs-slot"
    data-astro-transition-persist
    x-data="{
  search: $persist('').as('licenseSearch').using(sessionStorage),

  licenseItems: JSON.parse($el.dataset.licenseEntries), 

  get filteredItems() {
    if (this.search === '') {
      return this.licenseItems;
    }

    const searchKeywords = this.search
      .split(/[ 　]+/)
      .filter(keyword => keyword.length > 0)
      .map(keyword => keyword.toLowerCase());

    if (searchKeywords.length === 0) {
      return this.licenseItems;
    }

    return this.licenseItems.filter(
      ([pkgName]) => {
        const lowerPkgName = pkgName.toLowerCase();

        return searchKeywords.every(keyword => 
          lowerPkgName.includes(keyword)
        );
      }
    )
  }
}"
  >
    <div class="alpineSearch">
      <input x-model='search' placeholder='検索...' />
      <template
        x-if="search != ''"
      >
        <button
          aria-label="検索クエリを削除"
          @click="search = ''"
        >
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
          </svg>
        </button>
      </template>
    </div>
    <p><span x-text="filteredItems.length"></span>個のライセンスを表示中</p>
    <ul>
      <template x-for="item in filteredItems" :key="item[0]">
        <li>
          <a x-bind:href="`/license/${item[0].replace(new RegExp('/', 'g'), '-')}`" >
            <h3 x-text="item[0]"></h3> 
            <span x-text="item[1].licenses + ' License'"></span>
          </a>
        </li>
      </template>
    </ul>
  </div>
</section>

<style lang="scss">
  section {
    overflow-x: hidden;
    h2 {
      font-size: 18px;
    }
    .alpinejs-slot {
      .alpineSearch{
        position: relative;
        input {
          background: var(--codeBack);
          color: var(--foreground);
          margin: 2px 5px;
          width: 100%;
          font-family: var(--font-fira-code), var(--font-zen-kaku-gothic-new), monospace;
          height: 40px;
          font-size: 16px;
          display: flex;
          align-items: center;
          border-radius: 10px;
          border: none;
          &:focus {
            outline: none;
            color: var(--themeColor);
          }
        }

        button {
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          height: 40px;
          background: transparent;
          color: var(--foreground);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      p {
        font-size: 15px;
        text-align: center;
      }
      ul {
        li {
          a {
            text-decoration: none;
            h3 {
              font-size: 16px;
              margin-bottom: 0;
              filter: brightness(120%);
            }
            h3, span {
              font-family: var(--font-fira-code), var(--font-zen-kaku-gothic-new), monospace;
            }
            span {
              font-size: 15px;
              filter: brightness(120%);
            }
            &:hover {
              h3 {
                text-decoration: underline;
                filter: brightness(100%);
              }
            }
          }
        }
      }
    }
  }
</style>