---
import { ClientRouter } from "astro:transitions";
---

<html lang="ja">
  <head>
    <!-- 基本情報とAstro -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <ClientRouter />
  </head>
  <body>
    <header>
      <div></div>
    </header>
    <div>
      <div>
      
      </div>
      <div>
        <slot />
      </div>
    </div>
  </body>
</html>