.root {
  width: 100%;
  height: calc(100% - 1px);
  .pgSearch {
    position: relative;
    --side-margin: 7px;
    margin: 0 var(--side-margin);
    input {
      background: var(--codeBack);
      color: var(--foreground);
      margin-top: 2px;
      margin-bottom: 2px;
      width: 100%;
      font-family: var(--font-fira-code), var(--font-m-plus-1-code), monospace;
      height: 40px;
      font-size: 16px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      border: none;
      &:focus {
        outline: none;
        border-color: var(--themeColor);
        color: var(--themeColor);
      }
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      height: 40px;
      background: transparent;
      color: var(--foreground);
    }
  }
  .search-output {
    height: calc(100% - 68px - 8px);
    .ステータス {
      text-align: center;
      margin: 8px;
      font-size: 14px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .helpMessage {
      height: calc(100% - 50px - 68px - 8px - 10px);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto 8px;
      text-align: center;
    }
    .結果一覧 {
      list-style-type: none;
      overflow: scroll;
      padding: 0;
      margin: 0;
      height: calc(100% - 24px);
      hr {
        margin-left: 30px;
      }
      .endHr {
        margin-top: 34px;
      }
      .項目 {
        margin: 0 17px;
        .項目リンク {
          text-decoration: none;
          h2, p {
            font-family: var(--font-fira-code), var(--font-zen-kaku-gothic-new), monospace;
          }
          h2 {
            text-decoration: underline;
            margin-top: 15px;
            line-height: 1;
            font-size: 18px;
          }
          .詳細 {
            font-size: 15px;
            margin-top: -10px;
            color: var(--foreground);
          }
        }
        margin-bottom: -16px;
      }
      .サブ結果 {
        font-size: 15px;
        .中身 {
          a {
            text-decoration: none;
            .タイトル {
              margin: 0;
              line-height: 0.8;
              margin-top: -6px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          &:last-child {
            margin-bottom: -24px;
          }
        }
      }
      .spacer {
        height: 10px;
      }
    }
  }
}

mark {
  background: linear-gradient(transparent 25%, #f1df5a 160%);
  color: var(--foreground);
}