:root {
  --foreground: white;
  --background: #16171d;
  --borderColor: rgb(97, 97, 97);
  --themeColor: #3178C6;
  --codeBack: #282A36;

  --headerHeight: 45px;
  --searchWidth: 320px;
  font-family: var(--font-zen-kaku-gothic-new);
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: var(--themeColor);
  filter: brightness(120%);
  &:hover {
    filter: brightness(100%);
  }
}