---
import SplitLayout from "../../layouts/SplitLayout.astro";
import '../../styles/aboutLicense.scss';
---

<SplitLayout
  title="このアプリについて"
  fullScreen={true}
  header="ライセンス"
>
  <h1>このアプリについて</h1>
  <h2>ライセンス</h2>
  <p>このアプリのプログラム部分は，<a target="_blank" href="https://opensource.org/license/BSD-3-clause">The 3-Clause BSD License</a>によって保護されています．</p>
  <p>コンテンツ部分（主に辞書データ）は，本ライセンス条項とは別の利用条件が課されています．<a href="/license/contents/">コンテンツの著作権</a>で確認願います．</p>
  <p>このセクションでは，ライセンス条項について多くの方にご理解いただけるよう，開発時の解釈に基づきわかりやすくまとめております．なお，<strong>これは正式な法律文書ではありませんので，お客様のご利用におかれましては必ず<a target="_blank" href="https://github.com/wing-0902/dictionary-for-dev_javascript/blob/main/LICENSE">ライセンス原文</a>をご覧ください</strong>．</p>
  <h3>お客様に認められている行為</h3>
  <p>
    お客様は，本ソフトウェアおよびそのソースコードを利用して，おおよそ以下の行為を行なうことが認められています．
    <ul>
      <li>プログラム・ソースコードの個人利用・商用利用の両方が可能です．</li>
      <li>ソースコードの改変利用（例：プログラムを変更することで，自分の目的に合わせて機能を追加したり，デザインを変えたりすること）や，再配布（改変した成果物を，他の人に公開すること）が認められています．</li>
      <li>ソースコードの改変利用に伴う成果物を，別のライセンスで公開することが可能です（但し，元の<a target="_blank" href="https://github.com/wing-0902/dictionary-for-dev_javascript/blob/main/LICENSE">ライセンス原文</a>，著作権表示，および無保証の宣言を何らかの形で掲載する必要があります．<a href="/license/">本App内のライセンス表示ページ</a>を参考に作成いただくことも可能です．）．</li>
    </ul>
  </p>
  <h3>禁止事項</h3>
  <p>
    お客様は，本ソフトウェアおよびソースコードを用いて，以下のような行為を行うことが禁止されています．
    <ul>
      <li>本ソフトウェアの開発者・貢献者の名前を，無断で成果物の宣伝に利用することは許可されていません．</li>
    </ul>
    また，ライセンスに関係なく，本ソフトウェアを迷惑行為や犯罪行為に活用する行為はご遠慮ください．
  </p>
  <h3>免責事項</h3>
  <p>
    本ソフトウェアの開発者・貢献者は，本ソフトウェアに関する以下のことを保証，あるいは示唆するものではありません．
    <ul>
      <li>本ソフトウェアの有用性及び，特定の用途への適合性</li>
    </ul>
    また，本ソフトウェアの利用によって生じた如何なる不利益も，開発者・貢献者は一才の責任を負いません．
  </p>
</SplitLayout>