---
import SplitLayout from "../../layouts/SplitLayout.astro";
import '../../styles/aboutLicense.scss';
---

<SplitLayout
  title='コンテンツの著作権'
  noindex={true}
  fullScreen={true}
  header="ライセンス"
>
  <h1>コンテンツの著作権</h1>
  <h2>適用範囲</h2>
  <p>本ページで定めるコンテンツの著作権に関する規約は，本App内の辞書コンテンツ（<a href="/">トップページ</a>で検索して表示される記事，あるいは<a href="https://github.com/wing-0902/dictionary-for-dev_javascript/tree/main/src/content">コンテンツコレクション</a>下に配置された全てのファイル）に適用されます．</p>
  <p>本規約は，法律で認められている引用行為などを制限するものではなく，公正な利用を促すために定めております．</p>
  <p>コンテンツ内に，他から引用したコンテンツがある場合，その旨をわかりやすく記載しております．そのようなコンテンツに関しては，引用元の規約が適用されますので，ご自身の責任においてご確認いただきますよう，お願いします．</p>
  <h2>著作権について</h2>
  <p>
    本アプリに掲載されているコンテンツの著作権は，当サイトの運営者または正当な権利者に帰属します．<br/>
    ただし，個別のコンテンツに著作権等に関する記載があれば，この限りではありません．
  </p>
  <h3>CCライセンス</h3>
  <p>
    コンテンツの著作権及び利用条件を明確にするため，本Appのコンテンツには，<a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/deed.ja">CC BY-SAライセンス</a>を適用しております．<br/>
    これによって，お客様が可能になることと，その条件は以下のとおりです．
    <ul>
      <li>このコンテンツを，引用や改変にご利用いただけます．</li>
      <li>営利目的であれ，非営利目的であれ，幅広くご利用いただけます．</li>
      <li>引用や改変に利用した場合，適切なクレジット表示（作成者の名前，URLなどの所謂出典に加え，ライセンスに関する注意書き（CC BY-SAライセンスが適用されていること）も表示する必要があります）を加える必要があります．</li>
      <li>改変による成果物には，同じくCC BY-SAライセンスを適用する必要があります．すなわち，改変による成果物は，本Appのコンテンツと同じ利用条件を持つということです．</li>
      <li>作成者・貢献者の名前を無断で成果物の宣伝等に利用する行為は，許可されていません．</li>
    </ul>
    このライセンスの全文については，<a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/deed.ja">コモンズ証の公式ウェブサイト</a>をご覧ください．<br/>
  </p>
  <p>
    なお，ライセンスに関係なく，本Appのコンテンツを迷惑行為や犯罪行為に利用される行為は，ご遠慮願います．
  </p>
</SplitLayout>