---
import SplitLayout from "../../layouts/SplitLayout.astro";
import '../../styles/aboutLicense.scss';
---

<SplitLayout
  title='コンテンツの著作権'
  noindex={true}
  fullScreen={true}
  header="ライセンス"
>
  <h1>コンテンツの著作権</h1>
</SplitLayout>