---
import SearchIslandEntrance from './SearchUI/IslandEntrance.svelte';
import LicenseList from './License/LicenseList.astro';

import { getCollection } from 'astro:content';

const dictEntries = await getCollection('dictionary');

interface Props {
  content?: string;
}

const {
  content = '検索'
} = Astro.props;
---

<div>
  {(() => {
    if (content === 'ライセンス') {
      return (
        <>
          <LicenseList />
        </>
      );
    } else {
      return (
        <>
          <SearchIslandEntrance
            client:only="svelte"
            allList={dictEntries}
          />
        </>
      );
    }
  })()}
</div>