---
import SearchIslandEntrance from './SearchUI/IslandEntrance.svelte';
import LicenseList from './License/LicenseList.astro';

import LicenseSearch from './License/LicenseSearch.astro';

import { getCollection } from 'astro:content';

const dictEntries = await getCollection('dictionary');

interface Props {
  content?: string;
}

const {
  content = '検索'
} = Astro.props;
---

<div class='root'>
  {(() => {
    if (content === 'ライセンス') {
      return (
        <>
          <LicenseSearch />
        </>
      );
    } else {
      return (
        <>
          <SearchIslandEntrance
            client:only="svelte"
            allList={dictEntries} />
        </>
      );
    }
  })()}
</div>

<style lang='scss'>
  .root {
    height: calc(100dvh - var(--headerHeight));
    overflow: scroll;
  }
</style>