---
import Search from "../Icons/Search.svg.astro";
import List from "../Icons/List.svg.astro";

import QueryLink from '../QueryLink.svelte';

interface Props {
  header?: string;
}

const {
  header = '検索'
} = Astro.props;
---

<div class="root">
  <div class="dummy"></div>
  <div class="nav">
    <QueryLink
      href="/"
      class={`
        ${header === '検索' ? '色付き' : ''}
      `}
      client:only
    >
      <div
        class={`
          linkInside
          ${header === '検索' ? '色付き' : ''}
        `}
      >
        <Search />
        <span>検索</span>
      </div>
    </QueryLink>
  </div>
  <div class="clickHere">

  </div>
</div>

<style lang="scss">
  .root {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .dummy {}
    .nav {
      display: flex;
      .linkInside {
        padding-right: 8px;
        padding-left: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--foreground);
        &.色付き {
          color: var(--themeColor);
        }
        text-decoration: none;
        span {
          @media (max-width: 830px) {
            display: none;
          }
        }
      }
    }
    .clickHere {}
  }
</style>