---
import { getCollection, render } from "astro:content";
import SplitLayout from "../../layouts/SplitLayout.astro";

export async function getStaticPaths() {
  const bookEntries = await getCollection('dictionary');
  return bookEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props;
const { Content } = await render( entry );

---

<SplitLayout
  title={entry.data.title}
>
  <div class="root" data-pagefind-body>
    <h1>{entry.data.title}</h1>
    <section class="mdxSection">
      <Content />
    </section>
  </div>
</Layout>

<style lang="scss">
  .root {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    img {
      max-width: 100%;
    }
    h1 {
      font-family: var(--font-fira-code), var(--font-m-plus-1-code), monospace;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-position: inside;
    }
    
    /* ライトテーマ */
    @media (prefers-color-scheme: light) {
      .shiki {
        color-scheme: light;
      }
    }

    /* ダークテーマ */
    @media (prefers-color-scheme: dark) {
      .shiki {
        color-scheme: dark;
      }
    }
  }
</style>