---
import SplitLayout from "../../layouts/SplitLayout.astro";

import { getCollection } from "astro:content";

const dictEntries = await getCollection('dictionary', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
---

<SplitLayout
  title="目次"
  fullScreen={true}
  header="一覧"
>
  <div class="parent">
    <div class="children">
      {dictEntries.map(dictEntry => (
        <a href=`/dictinary/${dictEntry.slug}/` >
          <div>
            <p>{dictEntry.data.title}</p>
          </div>
        </a>
      ))}
    </div>
  </div>
</SplitLayout>

<style lang="scss">
  .parent {
    margin: 10px;
    width: calc(100% + 200px);
    padding: auto;
    .children {
      max-width: 100%;
      margin: auto;
      display: flex !important;
      flex-wrap: wrap;
      a {
        border: 0.2px solid var(--foreground);
        font-family: var(--font-fira-code), var(--font-zen-kaku-gothic-new), monospace;
        color: var(--foreground);
        text-decoration: none;
        div {
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          p {

          }
        }
      }
    }
  }
</style>