---
import { ClientRouter } from "astro:transitions";

import '../styles/globals.scss';
---

<html lang="ja">
  <head>
    <!-- 基本情報とAstro -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <ClientRouter />
  </head>
  <body>
    <header>
      <div>
      </div>
    </header>
    <div class='contentSlot'>
      <section class="searchSlot">
    
      </section>
      <section class="content">
        <slot />
      </section>
    </div>
  </body>
</html>

<style lang="scss">
  body {
    padding: 0;
    margin: 0;
    --headerHeight: 45px;
    --searchWidth: 350px;
    header {
      margin: 0;
      height: var(--headerHeight);
      width: 100vw;
      border-bottom: 1px solid var(--borderColor);
    }
    .contentSlot {
      display: flex;
      height: calc(100dvh - var(--headerHeight));
      .searchSlot {
        border-right: 0.5px solid var(--borderColor);
        width: var(--searchWidth);
        height: 100%;
      }
      .content {
        border-left: 0.5px solid var(--borderColor);
        width: calc(100vw - var(--searchWidth));
        height: 100%;
      }
    }
  }
</style>